<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>BootStrap</title>

</head>
<body>

<header>
    <nav class="navbar-expand bg-white p-3">
        <div class="col d-flex justify-content-start">
            <span class="bg-success bg-gradient p-1 rounded-3 text-light">Pay My Buddy</span>
        </div>
        <div class="col d-flex justify-content-end">
            <a th:href="@{/home}" class="text-dark">Home</a>
            <a href="#" class="text-primary">Transfer</a>
            <a href="#" class="text-dark">Profile</a>
            <a href="#" class="text-dark">Contact</a>
            <a href="#" class="text-dark">Log Of</a>
        </div>
    </nav>
    <nav class="navbar bg-light p-3 d-flex justify-content-start">
        <a>Home</a>
        <span> / </span>
        <a>Transfer</a>
    </nav>
</header>

<main>
    <section class="container bg-secondary m-5">
        <div class=" row ">
            <div class="col bg-white d-flex justify-content-between ">
                <p>Send Money</p>


                    <!-- Donnée transmise par un formulaire -->
                    <form method="post" th:action="@{/transfer/addBuddy}" th:object="${buddy}">
                        <!-- th: object=${user} fait le lien avec le ModelAttribute (voir package controller). -->
                        <p>Please fill the email of your new buddy</p>


                        <div class="w-100 my-1">
                            <div class="input-group mb-3">
                                <span class="input-group-text"></span>

                                <input type="email" class="form-control form-control-sm" th:field="*{email}" id="email"
                                       placeholder="Your buddy's email">  <!-- th:field donne la correspondance avec les attributs de l’objet associé
            attention à la synthaxe particulière *{attribut1}-->
                            </div>
                            <p th:errors = *{email} class="text-danger"
                               th:if="${#fields.hasErrors('email')}"></p>
                        </div>

                        <button type="submit" class="btn btn-primary ">Add connection</button>



                    </form>

            </div>
        </div>

        <form class="row" method="post" th:action="@{/transfer/sendMoney}" th:object="${transfer}"> <!--Placer un objet Transfer ici-->
            <div class="form-group col-md-4">

                <select id="inputState" class="form-control" th:field="*{usernamePayMyBuddyRecipientAccount}">
                    <option value="" selected>Select a connection</option>
                    <option th:each="user : ${buddies}" th:value="${user.email}" th:text="${user.firstName}"></option>
                    <!-- Va permettre d'utiliser la liste de buddy de l'utilisateurdans le menu déroulant-->
                </select>
            </div>

            <div class="col form-group">
                <input type="number" class="form-control" id="amount" th:field="*{amount}" step="0.01" placeholder="0€">
            </div>

            <div class="col-auto my-1">
                <button type="submit" class="btn btn-success">Pay</button>
            </div>
        </form>
    </section>

    <section class="container m-5">
        <h3>My transaction</h3>
        <table class="table table-striped table-bordered">
            <thead class=" bg-success">
            <tr>
                <th scope="col">Connection</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">User 1</th> <!-- Pourquoi th ou td? a quoi sert le "scope ="row"?-->
                <td>Description 1</td>
                <td>10</td>

            </tr>
            <tr>
                <th scope="row">User 2</th>
                <td>Description 2</td>
                <td>25</td>

            </tr>
            <tr>
                <th scope="row">User 3</th>
                <td>Description 3</td>
                <td>8</td>
            </tr>
            </tbody>
        </table>



        <!-- A DECALER SUR UNE AUTRE PAGE HTML-->


        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <!--      FOURNIR DES DONNES A LA VUE          -->
            <tr th:each = "user : ${buddies}">
                <td th:text = "${user.firstName}"></td>
                <td th:text = "${user.lastName}"></td>
                <td th:text = "${user.email}"></td>
                <td ><a th:href="@{/transfer/deleteBuddy(email=${user.email})}">Delete</a></td>
                <!--Ici on passe un paramètre email à l'endpoint qui correspond à l'email du buddy-->

            </tr>
            </tbody>
        </table>
        <div th:each = "user : ${buddies}" > <!-- J'essaye d'afficher ici les buddy de l'utilisateur connecté-->
            <p th:text = "${user.firstName}"></p>
        </div>

    </section>


    <!--      FOURNIR DES DONNES A LA VUE          -->


    <!--
     <tr th:each = "user : ${users}">
         <td th:text = "${user.firstName}"></td>
         <td th:text = "${user.lastName}"></td>
         <td th:text = "${user.email}"></td>
         <td th:text="${user.password}">
         -->
    <!--
    ${nom de l'objet} permet d'accéder à un objet ajouté au model (cf: AuthentificationController)
    ${objet.attribut} fonctionne aussi

     th:if et th:each permettent respectivement d'implémenter une condition
     et une itération.
     -->


    <!-- RECUPERER DES DONNEES PROVENANT DE LA PAGE WEB SOURCE -->

    <!-- Donnée transmise par URL-->
    <!--
        <td ><a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a></td>
    </tr>
    -->

    <!-- th:href="@{ permet de définir une URL.
    {id}(id=${user.id}) sert a passer un parametre id attendu
     par l'url (l'id du user du modèle)-->


</main>
</body>
</html>